#landing{
    background-image:url(https://images.unsplash.com/photo-1526925539332-aa3b66e35444?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 940px;  
    margin-top: -100px;
          }
.landing {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bold;
      font-style: italic;
      font-size: 25px;
      padding: 239px;
      text-align: center;
      margin-bottom: 150px;
      width: 100%;
      min-width: 250px;
}
.landing h1{
  font-size:50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 8.5rem;
  color:white;
  padding-bottom: 72px;
}
.landing h2{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 4rem;
  color: white;
  padding-bottom: 72px;
}

.landing .btn-primary{
  border-style: 50px;
  color: black;
  padding-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 4rem
}
.container-landing {
  width: 90rem;
  height: 38rem;
  padding: 20px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.container-landing:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(30px);
  margin: -20px;
}
/* landing end  */